@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
    background-color: white;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Site-Header */

.site-header-main {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-header-main-container {
    display: flex;
    align-items: center;
}

/* Site-header-logo */
.site-header-logo {
    background-color: #fff;
    display: flex;
    border-radius: 7px;
    padding: 9px 6px;
    margin-right: 35px;
    text-decoration: none;
}

.site-header-logo:hover {
    opacity: 0.8;
}

.site-header-logo-image {
    object-fit: contain;
}

/* Currency rates */
.currencies {
    display: flex;
    margin-right: auto;
    line-height: 19px;
}

.currencies-item {
    color: #555555;
    display: flex;
}

.currencies-item:first-child {
    margin-right: 25px;
}

.currency-type {
    margin-right: 5px;
    color: rgba(41, 89, 206, 1);
}

.site-search-form {
    margin-right: 25px;
}

.site-search-input {
    padding: 15px 13px;
    padding-left: 40px;
    background-color: #FFFFFF;
    border: none;
    outline: transparent;
    border-radius: 60px;
}

.site-search-input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #8D8D8D;
}

/* Language toggle */
.language-button {
    margin-right: 25px;
    display: flex;
    padding: 3px;
    background-color: #DCE6FF;
    border-radius: 39px;
}

.language-button-link {
    text-decoration: none;
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #A6A6A6;
    padding: 8px 7px;
    border-radius: 50%;
}

.language-button-link:first-child {
    margin-right: 8px;
}

.language-button-link-active {
    color: #000000;
    background-color: #FFFFFF;
}

.login-button {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 13px 20px;
    background: #7296EC;
    border-radius: 10px;
    cursor: pointer;
}

.login-button:hover {
    opacity: 0.8;
}

.login-button:active {
    opacity: 0.6;
}

/* Site-header-BOTTOM */

.sitenav {
    padding-top: 26px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 40px;
}

.sitenav-list {
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    font-weight: 500;
}

.sitenav-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.sitenav-item:not(:last-child) {
    margin-right: 34px;
}

.sitenav-link {
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #7F7F7F;
    cursor: pointer;
}

.sitenav-link:hover {
    color: #7296ec;
}

.sitenav-link:active {
    opacity: 0.6;
}

/* Site header banner */
.site-header-banner-link {
    display: flex;
}


/* MAIN CONTENT */
.main-content {
    padding-top: 50px;
}

.main-news {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-bottom: 60px;
}

.article-card {
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
    padding: 20px 17px 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.article-card-link {
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.article-card-title {
    height: 78px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.article-card-text {
    flex-grow: 1;
    margin: 0;
    margin-bottom: 15px;
    color: #4A4B4C;
}

.article-card-image {
    margin-top: auto;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.card-bottom {
    display: flex;
    align-items: center;
}

.card-bottom-img {
    margin-right: 10px;
    border-radius: 5px;
}

.newspaper {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}

.newspaper-title {
    margin-right: 5px;
}

/* Notice-banner */
.notice-banner {
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 60px;
    padding: 25px 71px 25px 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: url(../img/notice-banner.png) no-repeat;
}

.notice-banner-text {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.orange-button {
    background-color: #F78B3B;
    border-radius: 10px;
    padding: 13px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
}

/* WORLD NEWS */


.world-news-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.global-and-local-news {
    display: flex;
    justify-content: space-between;
}

.world-news-articles {
    width: 797px;
    margin-right: 10px;
}

.world-news-article {
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
}

.world-news-article-img {
    margin-right: 15px;
    width: 210px;
    height: 165px;
}

.world-news-article-content {
    flex-grow: 1;
}

.world-news-article-title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
}

.world-news-article-link {
    color: #000000;
    text-decoration: none;
}

.world-news-article-text {
    margin: 0;
    margin-bottom: 17px;
}


.show-more-button {
    display: inline-block;
    margin-top: 7px;
    font-weight: bold;
    line-height: 19px;
    font-size: 16px;
    color: #000000;
    background-color: #EAEAEA;
    border-radius: 10px;
    width: 100%;
    padding: 17px 0;
    border: 0;
    outline: none;
}

.local-news {
    width: 393px;
}

.local-news-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 25px;
}

.local-sidebar-news {
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 20px 17px 25px;
    margin-bottom: 10px;
}

.local-sidebar-news-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.local-sidebar-news-item:not(:last-child) {
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
}

.local-sidebar-news-item:not(:first-child) {
    margin-top: 20px;
}

.local-sidebar-news-title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.local-sidebar-news-link {
    color: #000000;
    text-decoration: none;
}

.sidebar-newspaper {
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
}

.sidebar-newspaper:not(:last-child) {
    margin-bottom: 20px;
}

.local-news-ad {
    width: 393px;
    height: 338px;
    border-radius: 15px;
}